@font-face {
    font-family: 'robotoregular';
    src: url("'common/fonts/roboto/roboto-regular-webfont.eot'");
    src: url("'common/fonts/roboto/roboto-regular-webfont.eot'") format('embedded-opentype'),
         url("'common/fonts/roboto/roboto-regular-webfont.woff'") format('woff'),
         url("'common/fonts/roboto/roboto-regular-webfont.ttf'") format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}