.b_header {
    text-align: center;
    position: relative;
    height: 120px;
}

.b_header_logo_left {
    position: absolute;
    left: 10px;
    top: 25px;
}

.b_header_logo_right {
    position: absolute;
    right: 35px;
    top: 25px;
}