.b_header {
    text-align: center;
    position: relative;
}

.b_header_logo_left {
    position: absolute;
    left: 20px;
    top: 25px;
}

.b_header_logo_right {
    position: absolute;
    right: 30px;
    top: 35px;
}